.quote-font {
  
  &_0 {
    font-family: 'Sue Ellen Francisco', cursive;
  }
  &_1 {
    font-family: 'Pacifico', cursive;
  }
  &_2 {
    font-family: 'Dancing Script', cursive;
  }
  &_3 {
    font-family: 'Amatic SC', cursive;
  }
  &_4 {
    font-family: 'Permanent Marker', cursive;
  }
  &_5 {
    font-family: 'Satisfy', cursive;
  }
  &_6 {
    font-family: 'Courgette', cursive;
  }
  &_7 {
    font-family: 'Kaushan Script', cursive;
  }
  &_8 {
    font-family: 'Cookie', cursive;
  }
  &_9 {
    font-family: 'Patrick Hand', cursive;
  }
  &_10 {
    font-family: 'Gochi Hand', cursive;
  }
  &_11 {
    font-family: 'Niconne', cursive;
  }
  &_12 {
    font-family: 'Niconne', cursive;
  }
}

.quote-container {
  grid-area: quote;
  width: 80%;
  display: flex;
  justify-self: center;
}

.quote {
  text-align: center;
  margin: auto;
}

.flourish {
  align-self: center;
  width: 45rem;
}

.flourish-left {
  // grid-area: flor-left;
  transform: rotate(-90deg);
}

.flourish-right {
  // grid-area: flor-right;
  transform: rotate(-90deg) scaleY(-1);
}

.flourish-container-right {
  grid-area: flor-right;
  display: inline-grid;
  justify-content: end;
}

.flourish-container-left {
  align-self: center;
  grid-area: flor-left;
}

.app-container {
  display: grid;
  grid-template-areas: 'flor-left quote flor-right' 'button button button'; 
  margin: auto;
  height: 97vh;
  grid-auto-columns: 20% auto 20%;
  grid-template-rows: auto 3em;
}

.button {

}

.button-container {
  grid-area: button;
  justify-self: center;
}

body {
  margin: 0;
}

.wrapper {
  margin: 0;
  height: 100vh;
  &.palette {
    &_0 {
      background-color: #e4dde4;
    }
    &_1 {
      background-color: #c5c9c3;
    }
    &_2 {
      background-color: #c6d6b0;
    }
    &_3 {
      background-color: #e6d4a2;
    }
    &_4 {
      background-color: #f6cbbc;
    }
    &_5 {
      background-color: #dfe6ea;
    }
    &_6 {
      background-color: #eee2e1;
    }
  }
}


span {
  &.palette {
    &_0 { color: #c8a6b5; }
    &_1 { color: #a83859; }
    &_2 { color: #848c57; }
    &_3 { color: #93a8b0; }
    &_4 { color: #d88081; }
    &_5 { color: #c08e5d; }
    &_6 { color: #deadac; }
  }
}

